/*GLOBAL*/

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Smythe;
}

header,
main {
    max-width: 600px;
    width: 100%;
}

button:hover,
button:focus {
    filter: brightness(0.9)
}


/*TYPO*/

h1,
h2 {
    margin: 1em 0;
}

h3 {
    margin: 0.375em 0;
    font-weight: 400;
}

p {
    margin: 0.125em 0;
    font-weight: 400;
    color: #8b8b8b;
}

/*SECTIONS*/

/*Header*/

header {
    position: relative;
}

.header-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 5em;
    background-color: #386641;
}

.header-text {
    position: absolute;
    color: whitesmoke;
    top: 1%;
    left: 8%;
}

header h1 {
    font-weight: 400;
    font-size: 2.44rem;
    line-height: 24px;
    letter-spacing: 0%;
}

header h2 {
    font-family: Smythe;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 13.8px;
    letter-spacing: 0%;
}

/*Main Section*/

article {
    border-bottom: 1px solid #d2d2d2;
}

.item-container {
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
}

.item-pic {
    margin-left: 1.25rem;
    margin-top: 1.5rem;
    font-size: 4rem;
}

.item-details {
    margin: 1.5rem 0;
    flex: 0 1 60%; /*This adjust the width of the details container as they are spaced between*/
}

.add-item-btn {
    font-family: "Inter", sans-serif;
    border: 0.05px solid #8b8b8b;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1.35rem 1.5rem 0;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    font-size: 1.95rem;
    font-weight: 100;
    padding-bottom: 0.3rem;
    cursor: pointer;
}

/*MODALS*/

.order-container {
    display: flex;
    flex-direction: column;
    /*text-align: left;*/
}

.ordered-items-container {
    display: flex;
    flex-direction: column;
}


.complete-order-container,
.single-order-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

/*
.ordered-item-name {
    flex-grow: 1;
}
*/

.single-order-container {
    position: relative;
}


.single-order-container h2 {
    margin: 0.25rem;
}

.complete-order-container {
    border-top: 1px solid #393333;
}

.remove-btn,
.complete-order-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.ordered-item-name {
    display: flex;
    align-items: center;
}


.remove-btn {
    border: none;
    color: #ffffff;
    font-weight: 700;
    background-color: #E63946;
    border-radius: 3px;
    cursor: pointer; 
    position: absolute;
    top: 10px;
    right: 46px;
}

.remove-btn:hover,
.remove-btn:focus {
    color: #393333;
}

.complete-order-btn,
.pay-btn {
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    height: 3.65rem;
    background-color: #386641;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    border:none;
    cursor: pointer;
    width: 1.5em;
    background-color: #E63946;
    color: #ffffff;
    font-weight: 800;
    
}


/*Payment Modal with its Overlay Effect*/

.payment-details,
.modal-overlay {
    width: 95vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #252525;
    border-radius: 4px;
}

.payment-details {
    max-width: 524px;
    height: 542px;
}

.modal-overlay {
    background: radial-gradient(rgba(0, 0, 0, 0.5), transparent);
    /*width: 100vw;*/
    height: 100vh;
    display: flex;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 16px;
    width: 90%;
}

form p {
    color: #252525;
    text-align: center;
}

form input,
.pay-btn {
    height: 3.875rem;
    font-size: 1.25rem;
}

.pay-btn {
    margin-top: 20px;
}

form input,
form input::placeholder {
    padding-left: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    /*line-height: 2;*/
    letter-spacing: 0%;
}

.confirm-order {
    font-family: Smythe;
    font-weight: 400;
    font-size: 2rem; /*32 px*/
    /*line-height: 16.8px;*/
    letter-spacing: 0%;
    text-align: center;
    padding: 51px 66px;
    line-height: 2.5rem; /*40 px*/
}

.confirm-order p {
    color: #386641;
}

/*UTILITY*/

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*Media Queries*/

@media (min-width: 600px) {
    .payment-details,
    .modal-overlay {
        width: 100vw;
    }

    .confirm-order {
        line-height: 1rem;
    }

}

@media (min-width: 1025px) {
    
    .order-container {
        width: 18em;
        position: fixed;
        top: 5em;
        right: 5em;
    }
    
    
}
