/*GLOBAL*/

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Smythe;
}

header,
main {
    max-width: 600px;
    width: 100%;
}

/*TYPO*/

h1,
h2 {
    margin: 16px 0;
}

h3 {
    margin: 6px 0;
    font-weight: 400;
}

p {
    margin: 2px 0;
    font-weight: 400;
    color: #8b8b8b;
}

/*SECTIONS*/

/*Header*/

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}

.header-text {
    
    position: absolute;
    color: whitesmoke;
    top: 20%;
    left: 8%;
}

header h1 {
    font-weight: 400;
    font-size: 2.44rem;
    line-height: 24px;
    letter-spacing: 0%;
}

header h2 {
    font-family: Smythe;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 13.8px;
    letter-spacing: 0%;
}

/*Main Section*/

article{
    border-bottom: 1px solid #D2D2D2;
}

.item-container {
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
}

.item-pic {
    margin-left: 3rem;
    margin-top: 1.5rem;
    font-size: 4rem;
}

.item-details {
    margin: 1.5rem 0;
    flex-basis: 60%; /*This adjust the width of the details container as they are spaced between*/
}

.add-item-btn {
    font-family: "Inter", sans-serif;
    border: 0.05px solid #8b8b8b;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 3rem 1.5rem 0;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    font-size: 1.95rem;
    font-weight: 100;
    padding-bottom: 0.3rem;
    cursor: pointer;
}


/*MODALS*/

.order-container{
    text-align: center;
}

.remove-btn,
.complete-order-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.ordered-items-container,
.complete-order-container{
    
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem 3rem;
    
}

.remove-btn-span{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    width: 120px;
    border:none;
   
}

.remove-btn{
    border: none;
    color: #BBBBBB;
    cursor: pointer;
}

.remove-btn:hover,
.remove-btn:focus{
    color: #393333;
}

.ordered-items-container{
    
    border-bottom: 1px solid #393333;
    
}


.complete-order-btn{
    
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    height: 3.65rem;
    background-color: #16DB99;
    border-radius: 3px;
    color: #FFFFFF;
    
}


